<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input name="box1" id="b1" type="text">
<input name="box2" id="b2" type="text">
<input name="box3" id="b3" type="text">
<input type="button" name="sumbitajaxget" value="AJAX get" id="s1">
<input type="button" name="sumbitajaxpost" value="AJAX post" id="s3">
<input type="button" name="showimgbutton" value="Show img" id="s2">
{% load static %}
<script src="{% static 'js/jquery-3.4.1.js' %}"></script><!--最先要添加的JS文件-->
<script src="{% static 'js/jquery.cookie.js' %}"></script><!--CSRF——Token方法-->
<script src="{% static 'js/setupajax.js' %}"></script><!--csrf_Token的调用方法-->
<script src="{% static 'js/ajaxfunc.js' %}"></script> <!--点击按钮的所有操作方法-->

{#   <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>    #}
</body>
</html>