<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajaxtest</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script><!--最先要添加的JS文件-->
    <script src="{% static 'js/jquery.cookie.js' %}"></script><!--CSRF——Token方法-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'css/font-awesome.css' %}"></script>
    <script src="{% static 'css/icon-font.min.css' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script><!--友好弹窗插件方法-->
    <script src="{% static 'js/setupajax.js' %}"></script><!--csrf_Token的调用方法-->
    <script src="{% static 'js/ajaxfunc.js' %}"></script> <!--点击按钮的所有操作方法-->
</head>
<body>
<button id="button1">button1</button>
<hr>
<input type="text" id="text1"><label id="lable1" ></label>

<script src="{% static 'js/jquery-3.4.1.js' %}"></script><!--最先要添加的JS文件-->
<script src="{% static 'js/jquery.cookie.js' %}"></script><!--CSRF——Token方法-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script><!--友好弹窗插件方法-->
<script src="{% static 'js/setupajax.js' %}"></script><!--csrf_Token的调用方法-->
<script src="{% static 'js/ajaxfunc.js' %}"></script> <!--点击按钮的所有操作方法-->
<script src="{% static 'js/js2.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/raphael-min.js' %}"></script>
<script src="{% static 'js/morris.js' %}"></script>
<script src="{% static 'js/js1.js' %}"></script>
</body>
</html>